<p class="navbar-text pull-right">
<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>

<%= form_for(User.new, :url => session_path(:user)) do |f| %>
  <div><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>

  <div><%= f.submit "Sign in" %></div>
<% end %>
