<div class="page-center">

  <h3><%= @tag.name %></h3>
  <p><%= link_to @tag.user.username, user_path(@tag.user) %>
  <%= button_to "Add to My Collection", copy_path(@tag) %></p>

  <% @cards.each do |card| %>
    <div class="panel">
      <%= card.front %>
      <hr>
      <%= card.back %>
    </div>
  <% end %>

  <%= paginate @cards %>
</div>
