<div class="page-center page-down">

  <%= "#{(@review_list.amount - @review_list.review_list_cards_count) + 1}/#{@review_list.amount}" %>

  <div class='flip-container'>
    <div class='creation'>
      <div class='front'>
        <div class='cont panel'>
          <%= simple_format(@card.front) %>
        </div>
        <a href='' class='flip-trigger'>Answer</a>
      </div>

      <div class='back'>
        <div class='cont panel'>
          <%= simple_format(@card.back) %>
        </div>
        <% if @review_list.review_list_cards_count > 1 %>
          <%= link_to "Next", review_list_path(@review_list) %>
        <% else %>
          <%= link_to "Finish", review_list_path(@review_list) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
