<div class="page-center">

  <%= "#{(@review_list.amount - @review_list.review_list_cards_count) + 1}/#{@review_list.amount}" %>

  <div id='front'>
    <div class='panel'>
      <%= @card.front %>
    </div>
    <input id='answer' type='button' value="Answer">
  </div>

  <div id='back' class='hidden'>
    <div class='panel'>
      <%= @card.back %>
    </div>
    <%= link_to "Next", review_list_path(@review_list) %>
  </div>

</div>

<%= javascript_include_tag 'review' %>
