<%= form_for(tag) do |f| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field panel">
    <%= f.label :name %><br>
    <%= f.text_field :name, :maxlength=>"36" %>
    <%= f.label :share %>
    <%= f.check_box :share %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if !tag.id.nil? %>
  <div>
    <%= button_to "Delete", tag, :method => :delete %>
    <%= button_to "Remove from Cards", tags_removetag_path(tag) %>
  </div>
  <p><%= pluralize(tag.taggings_count,'card') %> under this tag.</p>
<% end %>
