<div class='page-down'>
  <p><div class="row">
    <div class="small-2 columns side">

      <%= link_to_if(!@tag.nil?, "Export", "/tags/#{@tag.id if !@tag.nil?}.csv") %><br />
      <%= link_to "New Tag", '/tags' %>

      <ul class="side-nav side-nav-tags">
        <% @tags.each do |tag| %>
          <li>
            <span class='tag-delete'>
              <%= link_to "x", tag, :method => :delete, data: {confirm: "Delete?"} %>
            </span>
            <%= link_to truncate(tag.name, length: 19, omission: ''), tags_tag_path(tag.id),
              class: 'tag-link' %>
          </li>
        <% end %>
      </ul>

    </div>

    <div class="small-10 columns main">

      <div class='main'>
        <% tag = @tag.nil? ? Tag.new : @tag %>
        <%= render 'tags/form', tag: tag %>
      </div>

    </div>
  </div></p>
</div>
