<div class='page-down'>
  <p><div class="row">
    <div class="small-2 columns side">

      <%= link_to "Import", new_card_import_path %> |
      <%= link_to "Export", '/cards.csv' %><br />
      <%= link_to "New Card", '/cards' %>

      <ul class="side-nav side-nav-tags">
        <% @cards.each do |card| %>
          <li>
            <span class='tag-delete'>
              <%= link_to "x", card, :method => :delete, data: {confirm: "Delete?"} %>
            </span>
            <%= link_to truncate(card.front, length: 19, omission: ''), cards_card_path(card.id),
              class: 'card-link' %>
          </li>
        <% end %>
      </ul>

    </div>

    <div class="small-10 columns main">

      <div class='main'>
        <% card = @card.nil? ? Card.new : @card %>
        <%= render 'cards/form', card: card %>
      </div>

    </div>
  </div></p>
</div>

<%= content_for :extra_footer do %>
  <script type='text/javascript'>
      $('body').on('click', '.card-filter', function(event) {
        event.preventDefault();
      });
  </script>
<% end %>
