<h1>Listing cards</h1>
<%= link_to 'Back', root_path %>

<table>
  <thead>
    <tr>
      <th>Front</th>
      <th>Back</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.front %></td>
        <td><%= card.back %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Delete', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
