<div class='page-down'>
  <p><div class="row">
    <div class="large-2 columns side">

      <%= link_to "Import", new_card_import_path %> |
      <%= link_to "Export", '/cards.csv' %><br />
      <%= link_to "New Card", cards_path(q: params[:q]) %>
      <%= search_form_for @search, url: search_cards_path,
                        html: { method: :post } do |f| %>
        <%= f.select :tags_id_eq, current_user.tags.collect{|c| [c.name, c.id]},{include_blank: "All"} %>
        <%= f.submit "Filter", class: 'hidden filter'%>
      <% end %>

      <ul class="side-nav side-nav-tags">
        <% @cards.each do |card| %>
          <li>
            <span class='tag-delete'>
              <%= link_to "x", card_path(card,q: params[:q]), :method => :delete, data: {confirm: "Delete?"} %>
            </span>
            <%= link_to truncate(card.front, length: 19, omission: ''),
                        cards_card_path(card.id, q: params[:q]),
              class: 'card-link' %>
          </li>
        <% end %>
      </ul>

    </div>

    <div class="large-10 columns main">

      <div class='main'>
        <% card = @card.nil? ? Card.new : @card %>
        <%= render 'cards/form', card: card %>
      </div>

    </div>
  </div></p>
</div>
