<div class='page-down page-center'>
  <h1>Card Import</h1>

  <p>Cards can be uploaded from a CSV file. The file's first row should be the headers. The following headers are allowed.</p>

  <ul>
    <li>
      <strong>front</strong> -
      Text on front of card
    </li>
    <li>
      <strong>back</strong> -
      Text on back of cards
    </li>
    <li>
      <strong>tags</strong> -
      Tags for card seperated by spaces
    </li>
  </ul>

  <p>If a specified tag does not exist, it will be created.</p>

  <%= form_for @card_import do |f| %>
    <% if @card_import.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@card_import.errors.count, "error") %> prohibited this import from completing:</h2>
        <ul>
        <% @card_import.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.file_field :file %>
    </div>
    <div class="buttons"><%= f.submit "Import" %></div>
  <% end %>
</div>
