<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Flash" %></title>

    <%= stylesheet_link_tag    "application" %>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <% flash.each do |name, msg| %>
      <div data-alert class="alert-box">
        <%= msg %>
        <a href="#" class="close">&times;</a></div>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%= yield :extra_footer %>

  </body>
</html>
