<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Emblema+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:500' rel='stylesheet' type='text/css'>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Flash" %></title>

    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='wrapper'>
      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

      <%= render 'layouts/navbar' %>

      <% flash.each do |name, msg| %>
        <div data-alert class="alert-box">
          <%= msg %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>

      <%= yield %>

      <%= javascript_include_tag 'application' %>
    </div>
  </body>
</html>
